/SampleWebApplication/nbproject/private/
/SampleWebApplication/build/
/BrokerTool/nbproject/private/
/BrokerTool/build/
/SampleEJBApplication/nbproject/private/
/SampleEJBApplication/build/
/SampleEJBApplication/dist/
/SampleWebApplication/dist/