/SampleWebApplication/nbproject/private/
/SampleWebApplication/build/
/BrokerTool/nbproject/private/
/BrokerTool/build/
/SampleEJBApplication/nbproject/private/
/SampleEJBApplication/build/
/SampleEJBApplication/dist/
/SampleWebApplication/dist/
/BrokerTool_2.0/dist/
/HelloWorld/nbproject/private/
/CalculatorClientApp/nbproject/private/
/CalculatorApp/nbproject/private/
/CalculatorApp/build/
/CalculatorClientApp/build/
/CalculatorClientApp/dist/
/HelloWorld/dist/
/HelloWorld/build/
/PlayingCards/nbproject/private/
/PlayingCards/build/
/SchemaToJava/nbproject/private/
/SchemaToJava/build/
/SchemaToJava/dist/
/JavaToSchema/nbproject/private/
/JavaToSchema/build/
/TestWebService/nbproject/private/
/TestWebService/build/
/SlowCalculatorApp/nbproject/private/
/SlowCalculatorApp/build/
/CardDecksWS/nbproject/private/
/CardDecksWS/build/
/PruebaClienteWS/nbproject/private/
/PruebaClienteWS/build/
/CardDecksWS/dist/